
body{
	background: url(../img/background.jpg) fixed no-repeat;
	width:1201px;
	height:768px;
	font-size: 12px;
	font-family: Arial Georgia;
}
.all-content{
	width:930px;
	margin: 0 auto;
	position: relative;
}
.middle{
	width: 430px;
	height: 581px;
	margin:15px 250px;
	padding-top: 20px;
	border-top: none;
	position: relative;
}
.middle .middle-metting{
	width:150px;
	height: 150px;
	margin-left: 210px;
	background-color: rgba(100,10,8,0.3);
	-webkit-border-radius:100px;
}
.middle .middle-metting h2{
	position: absolute;
    left:250px;
    top: 70px;
    font-size: 20px;
    color: #fff;
    -webkit-transform:rotate(-9deg);
}
.middle .middle-metting .meeting_room{
	position: absolute;
	left: 265px;
	top:105px;
	-webkit-transform:rotate(12deg);
	font-size: 2.3em;
	color:#fff; 
}
.middle .middle-login{
	position: absolute;
	left:100px;
	top: 100px;
	width:150px;
	height: 150px;
	background-color: rgba(10,10,10,0.3);
	-webkit-border-radius:100px;
}
.middle .middle-login h2{
	margin-top: 50px;
	color: #515701;
    font-size: 24px;
    text-align: center;
    -webkit-transform:rotate(-10deg);
}
form{
	color: green;
	font-size: 20px;
	margin: 70px 23px;
    padding: 30px 40px;
	background-color: rgba(10,10,10,0.2);
    border-radius: 14px;
}
p input{
	width: 130px;
	height: 30px;
	margin-bottom: 20px;
	border:2px solid  #e6e89d;
	box-shadow: 4px 2px 3px gray;
}
input:focus{
	border: 1px solid #6bca0c;
}
.commit{
	margin-left: 60px;
}
.commit input{
	width: 50px;
	height: 25px;
	border-radius:4px;
	background-color: white;
	color:green ;
}

.left-side{
	width: 250px;
	background-color: rgba(255,255,255,0.3);
	position: absolute;
	top:145px;
    border-radius: 8px;
    border-top:1px solid #97a34d;
    padding-bottom: 140px;
}
.left-side h2{
	padding:20px;
	text-align: center;
	color: #A62F00;
}
.left-side .grade{
	padding-bottom: 10px;
	padding-left: 7px;
	border-bottom: 1px dashed red;
}
.right-side .grade{
	padding-bottom: 10px;
	padding-left: 7px;
	border-bottom: 1px dashed red;
}
.left-side,.right-side p{
	padding-top: 5px;
}
.left-side, .grade span{
	font-size: 14px;
	margin-right: 12px;
}
.right-side .register span{
	margin-right: 13px;
	font-size: 15px;
}
.right-side{
	width: 250px;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	right: 0;
	top: 145px;
	border-radius: 6px;
	border-top: 1px solid #97a34d;
	padding-bottom: 100px;
}
.right-side h2{
	padding-top: 30px;
	padding-bottom: 10px;
	color:#A62F00;
	text-align: center;
	font-size: 18px;
}

p a{
	text-decoration: none;
	color: #BF5930;
	font-size: 18px;
}
p a:hover{
	color:#7CC5E9;
}