
body{
	background: url(../img/background.jpg) fixed no-repeat;
	width:1201px;
	height:768px;
	font-size: 12px;
	font-family: Arial Georgia;
}
.all-content{
	width:930px;
	height: 768px;
	margin: 0 auto;
	position: relative;
}
header{
	height: 145px;
	margin-bottom: -2px;
}

.memberinfo{
	position: relative;
	width: 570px;
	margin-left: 253px;
    background-color: rgba(255,255,255,0.3);
    border-top-right-radius: 10px;
}
.memberinfo h2{
	border-left: 2px dashed rgba(10,10,10,0.3);
	padding:5px;
	margin-left: 480px;
}
.memberinfo a{
	text-decoration: none;
	color:#A62F00;
}
.memberinfo a:hover{
	color: #7CC5E9;
}
.memberinfo table{
	width: 550px;
	margin: 0 auto;
}
.memberinfo table caption{
	padding:10px 0;
	color: #A62F00;
	font-size: 19px; 
}
.memberinfo table th,td{
	border: 1px solid rgba(10,10,10,0.3);
	text-align: center;
	height: 25px;
}
.search{
	position: absolute;
	left:0px;
	top: 145px;
	width: 250px;
	height: 600px;
	background-color:rgba(10,10,10,0.2) ;
	border-top-left-radius: 10px;
}
.search .text{
	width: 180px;
	height: 30px;
	margin: 20px 10px;
	background-color:rgba(10,10,10,0.3);
	border:2px solid rgba(10,10,10,0.1);
	border-right: white;
}
.search .text:focus{
	border: 1px solid #A62F00;
	background-color: rgba(10,10,10,0.1);
}
.search .submit{
	width: 40px;
	height: 30px;
	background-image: url();
	background-color:rgba(10,10,10,0.3);
	border:2px solid rgba(10,10,10,0.1);
	border-left: white;
	margin-left: -5px;
}
.search .submit:focus{
	background-color: rgba(10,10,10,0.1);
	color: #7CC5E9;
 
}